﻿@{ ViewData["Title"] = "Confirmation Page"; }
<script type="text/javascript">
    var seconds = 10;

    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
            window.location = '@Url.Action("Index", "Contacts")';
        } else {
            document.getElementById("countdown").innerHTML = seconds;
            document.getElementById("countdown2").innerHTML = seconds;
            window.setTimeout("countdown()", 1000);
        }
    }

    window.setTimeout("countdown()", 1000);
</script>


<div class="row">
    <div class="col-md-8">
        <p>New Contact has been added to mailing list successfully. Page will redirect after <span id="countdown">10</span> seconds...</p>
        <br />
        <p>If page doesn't redirect after <span id="countdown2">10</span> seconds click  @Html.ActionLink("Here","Index", "Contacts")</p>
    </div>
</div>