﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacts List";
}
@model IEnumerable<Contact>

<div class="text-center">
    <h2 class="display-5">E-mail List Contacts</h2>
    <label>@ViewBag.ErrorMsg</label>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @*<a asp-action="EditContact" asp-route-id="@item.id">Edit</a> @Html.Raw("|");*@
                        <a asp-action="DeleteContact" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <label>There are no Contacts currently Stored. Add a new Contact to View.</label>
        }
    </tbody>
</table>
