﻿@{ ViewData["Title"] = "Contacts Page"; }
@model Contact

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2 class="display-5">Please enter First Name, Last Name, and Email</h2>
    <br />
    <label>@ViewBag.ErrorMsg</label>
</div>


<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-vertical">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" value="Save" class="btn btn-default">Submit</button>
                </div>
            </div>
        }
        </div>
</div>